# Web Framework
fastapi==0.111.0
uvicorn[standard]==0.29.0

# Gemini AI
google-generativeai==0.7.2

# Database
sqlalchemy==2.0.30

# Environment Variables
python-dotenv==1.0.1

# File Upload support
python-multipart==0.0.9

# Data validation
pydantic==2.7.1